@include tablet{
    .contenedor-anuncios{
        @include grid (3, 2rem);
        
    }
}

.anuncio {
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);
    margin-bottom: 2rem;
    padding: 0rem;
    overflow: hidden; //Para que no se desborde el contenido

    picture {
        height: 20rem;
        
        img{
            height: 100%;
            object-fit: cover; //Para evitar que la imagen se distorsione
        }
    }

    .contenido-anuncio{
        padding: 2rem;
        
    }

    .contenido-anuncio > p {
        height: 8rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h3 {
        //Evitar que el titulo se desborde
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    h3, p {
        margin: 0;
        
    }
}

.precio{
    color: $verde;
    font-size: 3rem;
    font-weight: 700;
}

.iconos-caracteristicas{
    // @include grid(3, 2rem);
    display: flex;
    // justify-content: space-between;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li{
        flex: 1;
        display: flex;

        img{
            flex: 0 0 4rem;
            margin-right: 2rem;
        }

        p{
            font-weight: $black;
        }
    }
}



