.no-webp .inicio{
    background-image: url('../img/header.jpg');
}

.webp .inicio{
    background-image: url('../img/header.webp');
}

.header {
    background-color: $grisOscuro;
    padding-top: 1rem;
    padding-bottom: 3rem;
    

    &.inicio{
        background-position: center center;
        background-size: cover;

        @include tablet{
            min-height: 70rem;
        }

        .contenido-header{
            @include tablet{
                min-height: 70rem;
            }
        }
    }

    .logo-header {
        max-width: 100%;
        width: 28rem;
        height: auto;
    }

    

    
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    h1{
        color: $blanco;
        text-align: left;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;

    }

    
}