.alerta{
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 3rem 0;

    &.error{
        background-color: $rojo;
    }

    &.exito{
        background-color: $verde;
    }
}

table.propiedades{
    margin-top: 3rem;
    width: 100%;
    border-spacing: 0;
    // border: $gris 0.1rem solid;
    text-align: center;

    thead{
        background-color: $verde;

        th{
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla{
        width: 10rem;
    }

}

.imagen-small{
    width: 30rem;
    padding-bottom: 2rem;
}