.nosotros{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    

    @include tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .imagen{
        
        img{
            border-radius: 3rem;
        }
    }

    .informacion{
        @include tablet {
            padding-left: 3rem ;
        }

        h3{
            margin-top: 2rem;
            text-align: left;
            font-weight: $bold;
        }

    }
}

.iconos{
    img{
        height: 10rem;        
    }
    p{
        text-align: center;
    }
}
// .iconos-nosotros{
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
// }